<beans   xmlns="http://www.springframework.org/schema/beans"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

  <context:component-scan   base-package="org.citybank, com.spring.dao, com.spring.xml,
                                                        com.spring.entity"/>
  
  <mvc:annotation-driven/>
  <context:annotation-config/>
  
  <bean  id="jt"    class="org.springframework.jdbc.core.JdbcTemplate">
       <property    name="dataSource"     ref="ds"/>
  </bean>
  
  <bean    id="ds"    class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       <property   name="driverClassName"    value="oracle.jdbc.driver.OracleDriver"/>
       <property    name="url"     value="jdbc:oracle:thin:@localhost:1521:xe"/>
       <property    name="username"     value="system"/>
       <property   name="password"     value="sonusonu"/>
  </bean>
  
  <!--  bean  id="userDao"            class="com.spring.dao.UserDaoImpl" 
         init-method = "initmethod"
         destroy-method = "destroymethod"/-->
         
  <bean  id="setUpaccount"       class="com.spring.dao.SetUpAccountImpl"/>
  <bean  id="inputValidation"    class="com.spring.validation.InputValidationImpl"/>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean id="marshallingHttpMessageConverter"
                  class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
                <property name="marshaller" ref="jaxb2Marshaller"/>
                <property name="unmarshaller" ref="jaxb2Marshaller"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    
                      
  <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
    <property name="schema" value="classpath:/UserFile.xsd"/>
    <property name="classesToBeBound">
	    <list>
			<value>com.spring.xml.UserEnrollmentXml</value>
			<value>com.spring.xml.UserEnrollmentXml</value>
	    </list>
	</property>
  </bean>
</beans>  
